body {

}


.login-box{
width:320px;
height:420px;
background:rgba(0,0,0,0.5);
color:#fff;
margin-top:350px;
left:50%;
position:absolute;
transform:translate(-50%, -50%);
box-sizing:border-box;
padding:70px 30px;
}

.login{
width:150px;
 height:150px;
 border-radius:50%;
 position:absolute;
 top:-60px;
 left:calc(30%);
}
.form {
margin-bottom:20px;
border:none;
border-bottom:1px solid #fff;
outline:none;
}
.button{
border:none;
outline:none;
height:40px;
width:150px;
background:#1c8adb;
color:#fff;
font-size:18px;
border-radius:20px;
}
