/* course*/

.course{
height:auto;
margin-bottom:60px;
}

.box  {
list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
	text-decoration:none;
}

.course li{
float:left;
}

.course li a{
display: block;
text-decoration: none;
}

.image{
height:350px;
width:315px;
border:2px solid tomato;
margin-top:50px;
margin-left:80px;
}
.b1{
background-color:white;
color:blue;
width:200px;
height:50px;
border-radius:5px;
margin-left:38px;
margin-top:-15px;
}
.b1:hover{
background-color:blue;
color:white;
font-weight:bold;

}

.image h3{
margin-top:-20px;
text-align:center;
color:blue;
text-decoration:none;
text-transform:uppercase;
font-size:20px;
font-weight:bold;
}

.image a{
text-decoration:none;
}