.black{
background-color:black;
height:60px;
width:auto;
}
.slice img{
margin-top:5px;
}
.slice p{
margin-left:600px;
margin-top:10px;
color:white;
}
.express{
background-color:white;
height:80px;
width:auto;
}

.logo{
margin-left:150px;
margin-top:-10px;
}

.icos{
height:30px;
width:30px;
text-decoration:blink; 
}
.bg{
color:red;
font-size:11px;
}

.topnav{
height:50px;
background-color:#006699;
overflow:hidden;
width:auto;
}

.rightnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
    font-size: 17px;
	margin-top:1px;
	margin-bottom:2px;
	margin-left:5px;


}
.rightnav a:hover {
    background-color: white;
    color: blue;
	border:2px solid white;
	border-radius:5px;
	font-weight:bold;
}
.rightnav a.active {
    background-color: green;
    color: white;
	margin-left:-5px;
	
	border-radius:5px;
    padding: 12px 14px;

}

.leftnav a {
    float: right;
    color: white;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    font-size: 13px;
	border:2px solid white;
	border-radius:5px;
	margin-top:5px;
	margin-right:5px;
}
.leftnav a:hover {
    color: yellow;
	border:1px solid white;
	border-radius:5px;
	outline:none;
}
.leftnav a.active {
    background-color: green;
    color: white;
	border:2px solid white;
	border-radius:5px;
	text-decoration:none;
}

.lesson{
background-image:url("../images/b2.jpg") ;
background-repeat: no-repeat ;
background-size:100%;
width:100%;
height:450px;
padding:0 190px;
margin-bottom:10 ;
margin-top:10px;
padding-right:20px;

}
.phase1 p{
color:#008bc4;
font-size:25px;
font-weight:bold;
text-align:left;
margin-left:-150px;

margin-top:30px;
}

.phase1 h6{
color:#008bc4;
font-size:15px;
text-align:left;
margin-left:-150px;
margin-bottom:40px;

margin-top:20px;
}
.button1{
width:180px;
height:70px;
background-color:green;
border-radius:5px;
border:1px solid;
color:white;
font-size:25px;
margin-left:-150px;
margin-top:20px;
}

.button2{
width:180px;
height:70px;
background-color:Blue;
border-radius:5px;
border:1px solid;
color:white;
font-size:25px;
margin-top:20px;
}


.proflogo{
background-color:white;
height:150px;
margin-bottom:50px;

}

.proflogo p{
margin-top:10px;
font-size:37px;
text-align:center;
color:blue;
text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;

}

.proflogo img{
width:150px;
height:100px;
margin-left:15px;
margin-top:10px;

}


.info-request {
	border-radius: 4px;
	background: #2b4167 url(../images/ico_information.png) no-repeat 35px 35px;
	display: block;
	padding: 0 0 0 138px;
	margin: 60px 15px 100px 55px;
	height: 134px;
	overflow: hidden;
}

.info-request:hover {
	text-decoration: none;
}

.info-request .holder {
	width: 70%;
	display: block;
	float: left;
}

.info-request .arrow {
	width: 25%;
	display: block;
	float: right;
	height: 100%;
	background: #008bc4 url(../images/bg_arrow_information.png) no-repeat 50% 50%;
}

.info-request .title {
	color: #fff;
	font-size: 60px;
	font-family: 'BebasNeue';
	line-height: 60px;
	padding: 26px 0 0 0;
	display: block;
	font-weight: 300;
}

.info-request .text {
	color: #899ec4;
	font-size: 14px;
	line-height: 20px;
	margin: -2px 0 0 0;
	display: block;
	text-transform: uppercase;
	
}







/* Footer
------------------------------------------------------------------------------*/

#footer {
	clear: both;
	background: #2c4167 url(../images/bg_white_arrow.png) no-repeat 50% 0;
	overflow: hidden;
	padding: 91px 0 0 0;
	font-size: 14px;
	color: #fff;
	line-height: 20px;
}

#footer article {
	float: left;
	width: 30%;
	padding: 0 20px;
		margin-left: 30px;

}

#footer h3 {
	color: #fff;
	font-size: 48px;
	font-family: 'BebasNeue';
	line-height: 52px;
	display: block;
	padding-bottom: 37px;
	font-weight: 300;
}

#footer a {
	color: #fff;
	
}

#footer .col-1 li {
	border-bottom: 1px solid #3c5177;
	padding-top: 1px;
	padding-bottom: 16px;
	margin-bottom: 20px;
}

#footer .col-1 li a {
	padding-left: 52px;
	display: block;
	position: relative;
}

#footer .col-1 li a:after {
	background: url(../images/ico_contacts.png) no-repeat;
	width: 32px;
	height: 32px;
	position: absolute;
	top: 4px;
	left: 0;
	content: "";
}

#footer .col-1 .mail {
	padding-bottom: 21px;
	margin-bottom: 25px;
}

#footer .col-1 .mail a:after {
	background: url(../images/ico_contacts.png) no-repeat 0 -32px;
	height: 22px;
	top: -1px;
}

#footer .col-1 .phone a:after {
	background: url(../images/ico_contacts.png) no-repeat 0 -54px;
	height: 32px;
	top: -6px;
}

#footer .last {
	border: none !important;
}

#footer .col-2 li {
	border-bottom: 1px solid #3c5177;
	padding-bottom: 9px;
	margin-bottom: 9px;
}

#footer .col-2 li a {
	padding-left: 20px;
	background: url(../images/bg_arrow_blue.png) no-repeat 0 50%;
}

#footer .col-2 li.last{
	margin-bottom: 0;
}

#footer article p {
	padding-bottom: 17px;
}

#footer .col-3 li {
	padding: 0 10px 10px 0;
	float: left;
}

#footer .col-3 li a {
	background: #8ed3ef;
	display: block;
	width: 119px;
	height: 35px;
	line-height: 35px;
	color: #46788d;
	font-size: 14px;
	border-radius: 4px;
	padding-left: 35px;
	text-align: center;
	position: relative;
	overflow: hidden;
}

#footer .col-3 li a:after {
	background: #81c6e2 url(../images/ico_social.png) no-repeat 9px 8px;
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	bottom: 0;
	width: 35px;
}

#footer .col-3 .google-plus a:after {
	background-position: -26px 8px;
}

#footer .col-3 .twitter a:after {
	background-position: 9px -27px;
}

#footer .col-3 .pinterest a:after {
	background-position: -26px -27px;
}

#footer input {
	border-radius: 4px;
	background-color: #1e2d49;
	height: 52px;
	padding: 16px 20px;
	width: 100%;
	color: #fff;
	border: none;
	font-size: 14px;
	margin-bottom: 10px;
}

#footer button {
	border-radius: 4px;
	background: #fff;
	height: 52px;
	line-height: 52px;
	padding: 0 20px;
	width: 100%;
	color: #7e8798;
	border: none;
	font-size: 16px;
	margin-bottom: 10px;
}

#footer input::-webkit-input-placeholder {
	color:#fff;
}
#footer input::-moz-placeholder {
	color:#fff;
}

#footer .copy_col{
}
#footer .copy {
	display: block;
	text-align: center;
	clear: both;
	color: #899ec4;
	padding: 34px 0 26px 0;
}

