body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #fff;
}

.topnav a {
  float:left;
  color: blue;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

/*...... index....*/
.bag{
margin-top:50px;
}

.pix2{
margin-top:5px;
}
#admin-footer{
position:absolute;
bottom:0px;
width:100%;
padding:10px;
background-color:blue;
color:#fff;
font-size:12px;
}

.beg a{
text-decoration:none;
}
