.logo{
height:80px;
width:180px;
margin-left:10px;
}
.main{
width:100%;
height:120vh;
}

nav{
width:100%;
height:80px;
background-color:#000033;
opacity:0.3;
line-height:80px;
}

nav ul {
float:right;
margin-right:30px;
}

nav ul li{
display:inline-block;
transition:0.8s all;
text-decoration:none;
font-size:20px;

}

nav ul li a{
color:#fff;
padding:30px;
text-decoration:none;
}

nav ul li:hover{
background-color:#f39d1a;
text-decoration:none;
}