


.box{
width:500px;
height:1000px;
background:rgba(0,0,1,0.7);
color:#fff;
top:5%;
left:50%;
position:absolute;
transform:translate(-40%, 10%);
box-sizing:border-box;
padding:80px 30px;
}

.profile{
width:160px;
 height:180px;
 border-radius:50%;
 position:absolute;
 top:-20px;
 left:calc(35%);

}

.button{
border:none;
outline:none;
height:40px;
width:50px;
background:#1c8adb;
color:#fff;
font-size:18px;
border-radius:10px;
}
.form{
margin-top:120px;
}
.box input{
width:100%;
margin-bottom:20px;
}
.student{
border:none;
border-bottom:1px solid #fff;
background:transparent;
outline:none;
height:40px;
}


