
body {
margin:0;
padding:0;
background-image: url('img/img1.4.jpg') ;
background-size:cover;
background-position:center;
font-family:sans-serif;
}

.login-box{
width:500px;
height:850px;
background:rgba(0,0,1,0.1);
color:#fff;
top:50%;
left:50%;
position:absolute;
transform:translate(-40%, 10%);
box-sizing:border-box;
padding:80px 30px;
}


h1{
margin:0;
padding:0 0 20px;
text-align:center;
font-size:28px;
}
.login-box p{
margin:0;
padding:0;
font-weight:bold;
}

.login-box input{
width:100%;
margin-bottom:30px;
}

.box{
border:none;
border-bottom:1px solid #fff;
background:transparent;
outline:none;
height:40px;
}

.button{
border:none;
outline:none;
height:40px;
width:150px;
background:#1c8adb;
color:#fff;
font-size:18px;
border-radius:20px;
position:bottom;
}
