body {
margin:0;
padding:0;
background-image: url('img/bg6.jpg') ;
background-size:cover;
background-position:center;
font-family:sans-serif;
}
 img{
width:300px;
}

h3{
font-size:20px;
color:#fff;
}


