
.form{
width:550px;
height:600px;
background:rgba(0,0,1,0.7);
color:#fff;
top:10%;
left:50%;
position:absolute;
transform:translate(-40%, 10%);
box-sizing:border-box;
padding:80px 30px;
}
.table{
font-size:20px;
color:white;
margin-top:10px;

}

.table input{
width:150%;
}
.form p{
font-size:30px;
color:white;
}

.shape{
margin-bottom:20px;
}

.button{
border:none;
outline:none;
height:40px;
width:250px;
background:#1c8adb;
color:#fff;
font-size:18px;
border-radius:10px;
margin-left:30px;}