body {
margin:0;
padding:0;
background-image: url('img/img4.jpg') ;
background-size:cover;
background-position:center;
font-family:sans-serif;
}
.form{
width:500px;
height:400px;
background:rgba(0,0,1,0.7);
color:#fff;
top:20%;
left:50%;
position:absolute;
transform:translate(-40%, 10%);
box-sizing:border-box;
padding:80px 30px;
}
.table{
font-size:20px;
color:white;
}
.form p{
font-size:30px;
margin-top:-20px;
color:white;
}

.button{
border:none;
outline:none;
height:40px;
width:150px;
background:#1c8adb;
color:#fff;
font-size:18px;
border-radius:10px;
}