html,body{
font-family:"open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
background-color:#f3f3f4;
color:#676a6c;
height:100%;
}

#side-menu{
background-color:#2f4050;
padding:0px;
}

#side-menu h1{
color:#1f3647;
text-align:center;
margin:10px 0px;
font-size:25px;
}

#side-menu ul{
list-style:none;
margin:0px;
padding:0px;
}

#side-menu a{
padding:12px 20px;
text-decoration:none;
color:#9fb1c2;
font-weight:bold;
font-size:13px;
display:block;
}

#side-menu .glyphicon{
margin-left:6px;
}

#side-menu a :hover{
background-color: #293846;
color: white;
}

#side-menu .settings-btn{
background-color:#1ab394;
}

#side-menu .settings-btn a{
color:#fff;
}

#side-menu .settings-btn a :hover{
background-color:#1ab394;
}
#side-menu .active a{
background-color: #293846;
color:white;
}

#side-menu .collapseable li{
padding-left:20px;
padding-top:5px;
}

#side-menu .collapseable a{
color:#9fb1c2;
font-size:12px;
padding:0px 10px;
text-decoration:none;
}

#side-menu .collapseable a :hover{
color:#fff;
}

.display-table{
display:table;
padding:0px;
height:100%;
width:100%;
}
.display-table-row{
display:table-row;
height:100%;

}

.display-table-cell{
display:table-cell;
float:none;
height:100%;

}

.valign-top{
vertical-align:top;
}

#nav-header{
background-color:#fff;
border-bottom:1px solid #e7eaec;
}
#nav-header #header-search-field{
padding:17px;
border:none;
width:300px;
vertical-align:center;
outline:none;
}
#nav-header ul{
margin:0px;
padding:0px;
list-style:none;
color:#676a6c;
}

#nav-header ul li{
float:left;
margin-left:15px;
padding: 17px 0px;
}

#nav-header ul .glyphicon{
color:#676a6c;
}

.label-message{
background-color:#1ab394;
}

#nav-header a{
text-decoration:none;
}

#nav-header .logout{
color:#676a6c;
}

#nav-header .logout: hover{
color:#676a6c;
}

#nav-header #welcome{
margin-right:20px;
}
#nav-header ul .label{
position:absolute;
margin-top:-10px;
}

#nav-header .fixed-width{
width:35px;
}

